button { 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: 1px;
}

.buttonFilled { 
    background-color: #029FA4;
    color: white;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Shadow appears on hover */
}