
.itemList {
    height: 200px;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.itemList::-webkit-scrollbar {
    height: 0px;
}

.header {
    text-align: left;
    margin-left: 24px;
    margin-bottom: 0px;
}