.Menu {
  width: 80%;
  margin: auto;
}

.Menu p {
  color: #333;
}

.Menu img {
  width: 100px;
  height: 100px;
}

.Menu .Button {
  background-color: #029FA4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.centered-title {
  text-align: center;
}

.save-settings-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}