.Menu {
  display: flex;
  width: 40%;
  margin: auto;
}

.settings, .View, .Table {
  flex: 1;
  padding: 2em;
}

.customerView{
  text-align: center;
}

.settings {
  order: 1;
}

.customer-view-container {
  padding: 0;
  margin: 0;
}

.Button {
  margin: auto;
  margin-bottom: 10%;
}

.save-settings-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.settings label {
  display: block; /* Makes each label block-level, forcing a new line */
  margin-bottom: 10px; /* Adds space between each form control */
}

.save-settings-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}